* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px
}

.left h1 {
    width: 100%;
    max-width: 560px;
    margin-bottom: 32px;
    font-size: 32px;
} 

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 560px;
    z-index: 9;
}

.input {
    border: 1px solid #000;
    border-radius: 4px;
    margin-bottom: 18px;
    min-width: 100%;
    padding: 0 14px;
}

.form input[type=email], .form input[type=password] {
    height: 42px;
} 

.button {
    max-width: 560px;
    width: 100%;
    height: 42px;
    background-color: #0056fb;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 18px;
    transition: background-color 0.5s linear;
    z-index: 2;
}

.button:hover{
    background-color: #008afb;
}

.area {
    width: 100%;
    max-width: 560px;
    margin-bottom: 18px;
}

.link {
    align-self: flex-start;
    font-weight: bold;
}

.link a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
    margin-left: 6px;
}

.right {
    flex: 1;
    background-color: #0056fb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.info-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 18px;
}

.subtitle {
    max-width: 400px;
    font-size: 36px;
    color: #fff;
    margin-bottom: 18px;
}

.description {
    max-width: 400px;
    line-height: 150%;
    color: #fff;
}

.form::before {
    content: '';
    position: absolute;
    background-image: url('./assets/code.svg');
    background-size: 90px;
    background-repeat: no-repeat;
    z-index: 1;
    width: 90px;
    height: 90px;
    opacity: 0.4;
    bottom: -50px;
    right: -35px;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        min-height: 100vh;
    }

    .left {
        width: 85%;
        padding: 24px 0;
    }

    .left h1 {
        margin-bottom: 18px;
    }

    .right {
        width: 100%;
        height: 100%;
        padding: 32px 0;
    }

    .form::before {
        background-size: 80px;
        width: 80px;
        height: 80px;
        bottom: -46px;
        right: -30px;
    }
}

@media (max-width: 500px) {
    .info-img {
        width: 84%;
    }

    .subtitle {
        font-size: 32px;
        padding: 0 14px;
        text-align: center;
    }

    .description {
        padding: 0 14px;
    }
}